@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar */
.expand {
    width: 280px; /* Lebar sidebar saat di-expand */
    transition: width 0.3s ease;
}

.collapse {
    width: 60px; /* Lebar sidebar saat di-collapse */
    transition: width 0.3s ease;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

.nav-link i {
    width: 24px;
}

.nav-link .ms-2 {
    display: none;
}

@media (min-width: 768px) {
    .collapse {
        width: 280px; /* Saat layar lebih besar, sidebar selalu ter-expand */
    }

    .nav-link .ms-2 {
        display: inline-block; /* Tampilkan teks item pada layar besar */
    }
}
